#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.list-pokemon{
  width: 100%;
justify-content: left;
margin-right: 40%;
}

.cardpokemon{
  width: 70%;
  border-radius: 5%;
  color: red;
  background-color: white;
  box-shadow: 0 1px 1px 1px rgba(255, 0, 0, 0.411);
}

.type{
  color: blue;
}

.captureButton{
  background-color: red;
  color: white;
  justify-content: center;  
}